psutil
fire
librosa==0.9.1
pydub==0.25.1
numpy==1.24.0
moviepy==1.0.2
vosk
opencv-python
pyautogui
torch
torchaudio
speechbrain
pymongo
pyaudio
pyscreenshot
pytesseract
pyfakewebcam
pillow
o365
tensorflow
aiosmtpd
sympy
python-telegram-bot
paddlepaddle
web3
tronpy
