psutil
fire
librosa
pydub
numpy
moviepy
vosk
opencv-python
pyautogui
torch
torchaudio
speechbrain
pymongo
pyaudio
pyscreenshot
pytesseract
pyfakewebcam
pillow
o365
tensorflow
aiosmtpd
sympy
python-telegram-bot
paddlepaddle
web3
tronpy
